.underground {
  z-index: -3; }

.sea {
  z-index: 0; }

.land {
  z-index: 3; }

.hill {
  z-index: 6; }

.mountain {
  z-index: 9; }

.cloud {
  z-index: 12; }

.moon {
  z-index: 15; }

.sun {
  z-index: 18; }
