.below {
  z-index: -1;
}

.zero {
  z-index: 0;
}

.above {
  z-index: 1;
}

.below-zero {
  z-index: -1;
}

.above-zero {
  z-index: 1;
  content: "1";
  content: "1";
  content: '1';
  content: '1';
}