.below {
  z-index: g-index("below");
}

.zero {
  z-index: g-index("zero");
}

.above {
  z-index: g-index("above");
}

.below-zero {
  z-index: g-below("zero");
}

.above-zero {
  z-index: g-above("zero");
  content: "g-above('zero')";
  content: "g-above(zero)";
  content: 'g-above("zero")';
  content: 'g-above(zero)';
}