// set an elements `z-index` value
// uses geopgraphical elevation levels
// @param {String} $level - the key in the `$levels` map
// @param {Number} [$move=0] - shift the `z-index` by this value (-1 - 1)
// @param {Boolean} [$debug=false] - set `translteZ` to debug in 3-d space
// @example
//   z-index: g-index('land');
//   z-index: g-index('hill', 1);

@function g-index($level, $move: 0) {
  $g-index-levels: ("underground": -3, "sea": 0, "land": 3, "hill": 6, "mountain": 9, "cloud": 12, "moon": 15, "sun": 18) !default;
  $levels: $g-index-levels;

  $limit-move: 1;

  // limit moves to $limit-move
  @if abs($move) > $limit-move {
    // attempt to move more than $limit-move
    @warn "You can only move #{$limit-move} level but attempted to move #{abs($move)} levels.";
  }

  @else {
    // only proceed for valid keys
    @if map-has-key($levels, $level) {
      // calculate the `z-index` from the map value and the `$move` value
      @return map-get($levels, $level) + $move;
    }

    @else {
      // invalid key return an error
      @warn "The map $levels does not contain a key called `#{$level}`.";
    }
  }
}

// pushes an element above a named level
// uses geopgraphical elevation levels
// @param {String} $level - the key in the `$levels` map
// @example
//   z-index: g-above('land');

@function g-above($level) {
  @return g-index($level, 1);
}

// pushes an element below a named level
// uses geopgraphical elevation levels
// @param {String} $level - the key in the `$levels` map
// @example
//   z-index: g-below('land');

@function g-below($level) {
  @return g-index($level, -1);
}