@import "./functions";

// set an elements `z-index` property
// uses geopgraphical elevation levels
// @param {String} $level - the key in the `$levels` map
// @param {Number} [$move=0] - shift the `z-index` by this value (-1 - 1)
// @param {Boolean} [$debug=false] - set `translteZ` to debug in 3-d space
// @example
//   @include g-index('land');
//   @include g-index('hill', 1);
//   @include g-index('sun', -1, true);

@mixin g-index($level, $move: 0, $debug: false) {
  $z-index: g-index($level, $move);

  z-index: $z-index;

  // if debugging is enabled `translate` the element on the `z` axis
  @if $debug {
    transform: translateZ($z-index * 1px);
  }
}

// pushes an element above a named level
// uses geopgraphical elevation levels
// @param {String} $level - the key in the `$levels` map
// @param {Boolean} [$debug=false] - set `translteZ` to debug in 3-d space
// @example
//   @include g-above('land');
//   @include g-above('sun', true);

@mixin g-above($level, $debug: false) {
  @include g-index($level, 1, $debug);
}

// pushes an element below a named level
// uses geopgraphical elevation levels
// @param {String} $level - the key in the `$levels` map
// @param {Boolean} [$debug=false] - set `translteZ` to debug in 3-d space
// @example
//   @include g-below('land');
//   @include g-below('sun', true);

@mixin g-below($level, $debug: false) {
  @include g-index($level, -1, $debug);
}